MainFile           run\mainHighwood.wresl
Solver             CBC
DvarFile           dss\SaskDV.dss
SvarFile           dss\SaskSV.dss
GroundwaterDir     Example\\
SvarAPart          SASK
SvarFPart          SASK
InitFile           dss\SaskINIT.dss
InitFPart          INIT
TimeStep           1MON
StartYear          1928
StartMonth         1
StartDay           31
StopYear           2001
StopMonth          9
StopDay            30
IlpLog             No
IlpLogFormat       None
IlpLogVarValue     No
IlpLogAllCycles    No
WreslPlus          no
AllowSvTsInit      no
DatabaseURL        none
SQLGroup           calsim
OVOption           0
OVFile             .
